/* body {
  margin: 0; 
} */

.container {
  width: 100%; /* Set container width to 100% of the viewport */
  max-width: 100%; /* Set a maximum width to prevent content from stretching beyond the viewport */
  overflow: hidden;
}
