
footer {
  text-align: center;
  padding: 20px;
}

.github-button, .linkedin-button, .youtube-button {
  display: inline-block;
  margin: 0 10px;
}

.github-button img, .linkedin-button img, .youtube-button img {
  height: 30px;
  vertical-align: middle;
}